Repository AMReX-Codes/amrex, pull requests merged in 2023-02, with the labels that each got.

#3122 CI: NVHPC 23.1
  .github/workflows/cuda.yml
  .github/workflows/dependencies/dependencies_nvhpc23-1.sh
  Src/Particle/AMReX_ParticleArray.H
Labels: GPU, test

#2378 NVHPC: OpenMP Atomic Capture Fixed
  Src/Base/AMReX_FabArrayUtility.H
Labels: enhancement, workaround

#3123 Update Build Systems for oneAPI
  .github/workflows/dependencies/dependencies_dpcpp.sh
  .github/workflows/intel.yml
  Docs/sphinx_documentation/source/GPU.rst
  Tools/CMake/AMReXOptions.cmake
  Tools/CMake/AMReXSYCL.cmake
  Tools/GNUMake/comps/dpcpp.mak
Labels: GPU, install

#3124 NVHPC: CUDA
  .github/workflows/cuda.yml
Labels: GPU, test

#3115 Rename AMReX_CUDA_MAX_THREADS to AMReX_GPU_MAX_THREADS
  Docs/sphinx_documentation/source/GPU.rst
  Src/Base/AMReX_GpuControl.H
  Tools/CMake/AMReXCUDAOptions.cmake
  Tools/CMake/AMReXOptions.cmake
  Tools/CMake/AMReXSetDefines.cmake
  Tools/CMake/AMReX_Config.H.in
  Tools/GNUMake/Make.defs
Labels: GPU, install

#3141 Test: Reinit AMReX
  Tests/CMakeLists.txt
  Tests/Reinit/CMakeLists.txt
  Tests/Reinit/GNUmakefile
  Tests/Reinit/Make.package
  Tests/Reinit/inputs
  Tests/Reinit/main.cpp
Labels: bug, help wanted, GPU, test

#3143 Fix bug in Device::Finalize: Forgot to clear streams
  Src/Base/AMReX_GpuDevice.cpp
Labels: bug, GPU

#3125 Runtime parameters for Signal handling controls
  Src/Base/AMReX.H
  Src/Base/AMReX.cpp
  Src/Base/AMReX_BLBackTrace.cpp
  Src/Base/AMReX_GpuDevice.cpp
Labels: GPU

#3126 GNU Make: Add support for Intel LLVM compiler in CPU builds
  Src/Base/AMReX_Extension.H
  Tools/GNUMake/comps/intel-classic.mak
  Tools/GNUMake/comps/intel-llvm.mak
  Tools/GNUMake/comps/intel.mak
Labels: install

#3148 Add MPI support to GpuComplex
  Src/Base/AMReX_ParallelDescriptor.H
  Src/EB/AMReX_distFcnElement.cpp
Labels: enhancement

#3161 SYCL Device Info
  Src/Base/AMReX_GpuDevice.cpp
Labels: GPU

#3170 CMake: Parallel HDF5 Detection
  Tools/CMake/AMReXThirdPartyLibraries.cmake
Labels: bug, install
