Repository AMReX-Codes/amrex, pull requests merged in 2023-03, with the labels that each got.

#3198 Sorting for faster current deposition
  Src/Particle/AMReX_ParticleContainer.H
  Src/Particle/AMReX_ParticleContainerI.H
  Src/Particle/AMReX_ParticleUtil.H
Labels: performance, GPU

#3211 Warning about CPU core oversubscription
  Src/Base/AMReX.cpp
  Src/Base/AMReX_ParallelDescriptor.H
  Src/Base/AMReX_ParallelDescriptor.cpp
Labels: performance

#3180 SYCL sub-group size
  Docs/sphinx_documentation/source/GPU.rst
  Src/Base/AMReX_GpuDevice.H
  Tools/CMake/AMReXOptions.cmake
  Tools/CMake/AMReXSetDefines.cmake
  Tools/CMake/AMReX_Config.H.in
  Tools/GNUMake/Make.defs
Labels: GPU, install

#3173 Add build option for Intel SYCL AOT GRF mode
  Docs/sphinx_documentation/source/GPU.rst
  Tools/CMake/AMReXOptions.cmake
  Tools/CMake/AMReXSYCL.cmake
  Tools/GNUMake/comps/dpcpp.mak
Labels: GPU, install
